# =========================
# 🔐 Variables de entorno
# =========================
.env
.env.*

# =========================

# =========================
__pycache__/
*.py[cod]

# =========================
venv/
.venv/

# =========================

*.sqlite3

# =========================
.DS_Store

# =========================
.pytest_cache/
.coverage

# =========================
*.log

# =========================
Local_Instructions.txt